*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efdaf0;
    font-family: sans-serif;
    outline: none;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset  5px 5px 12px #ffffff,
                       5px 5px 12px rgba(0, 0, 0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
div > input {
    grid-column: span 4;
    height:70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset  -5px -5px 12px #ffffff,
                inset   5px 5px 12px rgba(0, 0, 0,.16);
    border:none;
    border-radius: 10px;
    color: rgba(70, 70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    
}

div > button {
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px rgba(27, 27, 27, 0.16);
    border: none;
    border-radius: 30%;
    font-size: 18px;
    margin: 10px;
}
div > button:active {
    background-color: #efdaf0;
    box-shadow: inset  -5px -5px 12px #ffffff,
                inset   5px 5px 12px rgba(0, 0, 0,.16);
    transition: ease-in-out 0.3s;
}
.equal {
    width: 120px;
    border-radius: 30px;
}
h5 {
    background-color: #ecf0f3;
    font-family: sans-serif;
    color: gray;
    padding: 20px;
}